.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.totalCard{
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;

  margin:500px 70px;
}



.titreCard{
  width: 100% !important;
  height: 120% !important;
  padding: 20px  20px !important;
  background-color: #008B8B!important;
}
.img{
  width: 400px!important;
  height:300px !important;
}
.footerCard{
  background-color: #008B8B!important;
}
body{
  background-image: url("https://www.benefsnet.com/images/cms/film.gif");
}



button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 20px !important;
}
/* lllll 888888888888888  dertai   888888888888888*/


.CardTotal{
display: flex;
justify-content: center!important;

}

.cardDetail{
  background: linear-gradient(blue, pink);
}


.textDetail{
  font-size: 20px;
  font-family: cursive;

  
}

.textTitre{
  color: brown !important;;
}

.link1{
  background: linear-gradient(blue, pink);
}

.btnAdd{
  margin-left: 10px;
}
/* ******************************8888888888888****************************************** */









.name{
  padding: 10px 10px;
  color:brown;




}
.dateinstant{
  margin-top: -60px;
  margin-left: -90px;
 
}
.divratting{
  margin-top:71px;
  margin-left: -165px;
 
}


.FormMovieAdd{
  width: 500px;
  height: 500px;
  /* background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%); */
  background: linear-gradient(blue, pink);
   padding: 20px 20px;
}

.btnForm{
  padding-top: 30px;
  display: flex;
  justify-content:space-around;
  
}

.btnDitDelete{
  display: flex;
 flex-direction: row;
  justify-content: start;
  padding: 40px 10px;
}

.btnDelete{
  /* margin-top: 40px;
   margin-left: -170px; */
   /* background:   #0000cc;
   color: floralwhite; */
  }
  


.btnEdit{
 margin-left: 10px;
 width: 70px;
 

}


.etoil{
   /* width: 40px;
   height: 60px; */
   cursor: pointer;
   font-size: 30px;
   margin: 10px 0;
  
}


.searchDiv{
 /* background-color: burlywood; */

 margin-top:70px;
 margin: 0 150px;



}

.AddNewMovie{
  margin-top: -100px;

}


.btnEditMovie{
  margin-left: 10px;
  /* background:  #0000cc;
  color: floralwhite; */
}



figure.image {
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* min-width: 300px;
  max-width: 310px;
  max-height: 700px; */
  width: 350px;
  height: 550px;
  background: #000000;
  color: #eeeeee;
  text-align: center;
}
figure.image * {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.image img {
  max-width: 100%;
  position: relative;
  opacity: 0.6;
}
figure.image h3 {
  position: absolute;
  left: 50px;
  right: 50px;
  display: inline-block;
  background: #000;
  -webkit-transform: skew(-5deg) rotate(-10deg) translate(0, -50%);
  -moz-transform: skew(-5deg) rotate(-10deg) translate(0, -50%);
  -ms-transform: skew(-5deg) rotate(-10deg) translate(0, -50%);
  -o-transform: skew(-5deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-5deg) rotate(-10deg) translate(0, -50%);
  padding: 15px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}
figure.image:before {
  height: 130%;
  width: 130%;
  top: 0;
  left: 0;
  content: "";
  background: #cccccc;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  -moz-transform: rotate(110deg) translateY(-50%);
  -ms-transform: rotate(110deg) translateY(-50%);
  -o-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}
figure.image:hover img,
figure.image.hover img {
  opacity: 1;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
figure.image:hover h3,
figure.image.hover h3 {
  -moz-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  -ms-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  -o-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}
figure.image:hover:before,
figure.image.hover:before {
  -moz-transform: rotate(110deg) translateY(-150%);
  -ms-transform: rotate(110deg) translateY(-150%);
  -o-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}


.rating{
  padding: 40px 0;
}



/* bbbb******************************navbar************************************************** */

.divTotalSearch{
  
   /* position: fixed; */
     /* margin-top: -500px;  */

width: 100% ;



}

.divUl{
  display: flex;
  justify-content: space-around;
}


/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
 
 
} */


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden;/
  /* background-color:; */
  background-color:   #595959;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #61dafb;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}